<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MaxBucknell\Gulp\Api\BuilderInterface" type="MaxBucknell\Gulp\Model\Builder" />
    <preference for="MaxBucknell\Gulp\Api\DataProviderInterface" type="MaxBucknell\Gulp\Model\DataProvider" />

    <type name="MaxBucknell\Gulp\Model\Builder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="package.json" xsi:type="object">MaxBucknell\Gulp\Model\Builder\PackageJson</item>
                <item name="gulpfile" xsi:type="object">MaxBucknell\Gulp\Model\Builder\Gulpfile</item>
                <item name="sources" xsi:type="object">MaxBucknell\Gulp\Model\Builder\Sources</item>
            </argument>
        </arguments>
    </type>

    <type name="MaxBucknell\Gulp\Model\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="store_code" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\StoreCode</item>
                <item name="config" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\Config</item>
                <item name="modules" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\Modules</item>
                <item name="themes" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\Themes</item>
                <item name="phrases" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\Phrases</item>
                <item name="base_dir" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\BaseDir</item>
                <item name="output_dir" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\OutputDir</item>
                <item name="build_dir" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\BuildDir</item>
                <item name="requirejs_config_dir" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\RequirejsConfigDir</item>
                <item name="postcss" xsi:type="object">MaxBucknell\Gulp\Model\DataProvider\PostCss</item>
            </argument>
        </arguments>
    </type>

    <type name="MaxBucknell\Gulp\Model\DataProvider\Config">
        <arguments>
            <argument name="configFields" xsi:type="array">
                <item name="general/locale/code" xsi:type="string">general/locale/code</item>
            </argument>
        </arguments>
    </type>

    <type name="MaxBucknell\Gulp\Model\DataProvider\PostCss">
    </type>

    <virtualType name="MaxBucknell\Gulp\Model\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MaxBucknell\Gulp\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MaxBucknell\Gulp\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">gulp.xml</argument>
        </arguments>
    </virtualType>

    <type name="MaxBucknell\Gulp\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">MaxBucknell\Gulp\Model\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">maxbucknell_gulp_config_cache</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gulpBuild" xsi:type="object">MaxBucknell\Gulp\Console\Command\Build</item>
                <item name="gulpInstall" xsi:type="object">MaxBucknell\Gulp\Console\Command\Install</item>
                <item name="gulpRun" xsi:type="object">MaxBucknell\Gulp\Console\Command\Run</item>
            </argument>
        </arguments>
    </type>
</config>